Forecast restaurant visits for establishments in Japan based on historical visits and reservation data from two websites - Hot Pepper Gourmet and AirREGI. We are also given some additional metadata on the restaurants such as genre and location. Find the competition at [kaggle](https://www.kaggle.com/c/recruit-restaurant-visitor-forecasting)

In [1]:
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%%html
    <style>.container { width:90% !important;} </style>

### Reading and preprocessing data  
Taken from [this kernel](https://www.kaggle.com/the1owl/surprise-me/code)

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import *
from datetime import datetime

data = {
    'tra': pd.read_csv('../input/air_visit_data.csv'),
    'as': pd.read_csv('../input/air_store_info.csv'),
    'hs': pd.read_csv('../input/hpg_store_info.csv'),
    'ar': pd.read_csv('../input/air_reserve.csv'),
    'hr': pd.read_csv('../input/hpg_reserve.csv'),
    'id': pd.read_csv('../input/store_id_relation.csv'),
    'tes': pd.read_csv('../input/sample_submission.csv'),
    'hol': pd.read_csv('../input/date_info.csv').rename(columns={'calendar_date':'visit_date'})
    }

#Work on reservations (air_reserve and hpg_reserve)
data['hr'] = pd.merge(data['hr'], data['id'], how='inner', on=['hpg_store_id'])
for df in ['ar','hr']:
    data[df]['visit_datetime'] = pd.to_datetime(data[df]['visit_datetime'])
    data[df]['visit_datetime'] = data[df]['visit_datetime'].dt.date
    data[df]['reserve_datetime'] = pd.to_datetime(data[df]['reserve_datetime'])
    data[df]['reserve_datetime'] = data[df]['reserve_datetime'].dt.date
    data[df]['reserve_datetime_diff'] = data[df].apply(lambda r: (r['visit_datetime'] - 
                                                                  r['reserve_datetime']).days, axis=1)
    data[df] = data[df].groupby(['air_store_id','visit_datetime'], as_index=False)[['reserve_datetime_diff', 
                                    'reserve_visitors']].sum().rename(columns={'visit_datetime':'visit_date'})
    print "\ndata["+df+"]:       (air_reserve, hpg_reserve)"
    data[df].head(3)

#Submission file is  id,visitors air_00a91d42b08b08d9_2017-04-23,0
data['tes']['visit_date'] = data['tes']['id'].map(lambda x: str(x).split('_')[2])
data['tes']['air_store_id'] = data['tes']['id'].map(lambda x: '_'.join(x.split('_')[:2]))
data['tes']['visit_date'] = pd.to_datetime(data['tes']['visit_date'])
data['tes']['dow'] = data['tes']['visit_date'].dt.dayofweek
data['tes']['year'] = data['tes']['visit_date'].dt.year
data['tes']['month'] = data['tes']['visit_date'].dt.month
data['tes']['visit_date'] = data['tes']['visit_date'].dt.date
print "data['tes']        (sample_submission)"
data['tes'].head(3)
#From submission get resto's
unique_stores = data['tes']['air_store_id'].unique()
stores = pd.concat([pd.DataFrame({'air_store_id': unique_stores, 'dow': [i]*len(unique_stores)}) 
                    for i in range(7)], axis=0, ignore_index=True).reset_index(drop=True)
print "\nstores so far:     (unique resto's from sample_submission)"
stores.head(3)

/usr/local/lib/python2.7/dist-packages/sklearn/lda.py:4: DeprecationWarning: lda.LDA has been moved to discriminant_analysis.LinearDiscriminantAnalysis in 0.17 and will be removed in 0.19
  "in 0.17 and will be removed in 0.19", DeprecationWarning)
/usr/local/lib/python2.7/dist-packages/sklearn/qda.py:4: DeprecationWarning: qda.QDA has been moved to discriminant_analysis.QuadraticDiscriminantAnalysis in 0.17 and will be removed in 0.19.
  "in 0.17 and will be removed in 0.19.", DeprecationWarning)

data[ar]:       (air_reserve, hpg_reserve)

           air_store_id  visit_date  reserve_datetime_diff  reserve_visitors
0  air_00a91d42b08b08d9  2016-10-31                      0                 2
1  air_00a91d42b08b08d9  2016-12-05                      4                 9
2  air_00a91d42b08b08d9  2016-12-14                      6                18

data[hr]:       (air_reserve, hpg_reserve)

           air_store_id  visit_date  reserve_datetime_diff  reserve_visitors
0  air_00a91d42b08b08d9  2016-01-14                      3                 2
1  air_00a91d42b08b08d9  2016-01-15                      6                 4
2  air_00a91d42b08b08d9  2016-01-16                      3                 2

data['tes']        (sample_submission)

,id,visitors,visit_date,air_store_id,dow,year,month
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4

stores so far:     (unique resto's from sample_submission)

           air_store_id  dow
0  air_00a91d42b08b08d9    0
1  air_0164b9927d20bcc3    0
2  air_0241aa3964b7f861    0

In [4]:
#Work on historical visit data for the air restaurants (air_visit_data)
data['tra']['visit_date'] = pd.to_datetime(data['tra']['visit_date'])
data['tra']['dow'] = data['tra']['visit_date'].dt.dayofweek
data['tra']['year'] = data['tra']['visit_date'].dt.year
data['tra']['month'] = data['tra']['visit_date'].dt.month
data['tra']['visit_date'] = data['tra']['visit_date'].dt.date
print "data['tra']:      (air_visit_data)"
print data['tra'].head(3)
#Add columns with visit info to stores
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].min().rename(columns={'visitors':'min_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow']) 
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].mean().rename(columns={'visitors':'mean_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].median().rename(columns={'visitors':'median_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].max().rename(columns={'visitors':'max_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].count().rename(columns={'visitors':'count_observations'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow']) 
#Join stores and air_store_info (ir_genre_name  air_area_name  latitude  longitude)
stores = pd.merge(stores, data['as'], how='left', on=['air_store_id']) #join stores and air_store_info.csv on id
print "\nstores:          (unique resto's from sample_submission + tra/air_visit_data + as/air_store_info)"
#stores.head(3)
#Encode string columns in stores (air_genre_name, air_area_name)
lbl = preprocessing.LabelEncoder()
stores['air_genre_name'] = lbl.fit_transform(stores['air_genre_name'])
stores['air_area_name'] = lbl.fit_transform(stores['air_area_name'])
stores.head(3)

#Work on holidays
data['hol']['visit_date'] = pd.to_datetime(data['hol']['visit_date'])
data['hol']['day_of_week'] = lbl.fit_transform(data['hol']['day_of_week'])
data['hol']['visit_date'] = data['hol']['visit_date'].dt.date

#Create train/test = visits (tra/tes) + holidays + stores (incl genre, area data) + air/pgh reservations
train = pd.merge(data['tra'], data['hol'], how='left', on=['visit_date']) 
test = pd.merge(data['tes'], data['hol'], how='left', on=['visit_date']) 
#Train = joint visits with stores on id and day of week
train = pd.merge(train, stores, how='left', on=['air_store_id','dow']) 
test = pd.merge(test, stores, how='left', on=['air_store_id','dow'])
for df in ['ar','hr']:
    train = pd.merge(train, data[df], how='left', on=['air_store_id','visit_date']) 
    test = pd.merge(test, data[df], how='left', on=['air_store_id','visit_date'])
col = [c for c in train if c not in ['id', 'air_store_id','visit_date','visitors']]
train = train.fillna(-1)
test = test.fillna(-1)
print "\ntrain/test:          (visits, holidays, stores)"
train.describe()
train.head(3)

data['tra']:      (air_visit_data)
           air_store_id  visit_date  visitors  dow  year  month
0  air_ba937bf13d40fb24  2016-01-13        25    2  2016      1
1  air_ba937bf13d40fb24  2016-01-14        32    3  2016      1
2  air_ba937bf13d40fb24  2016-01-15        29    4  2016      1

stores:          (unique resto's from sample_submission + tra/air_visit_data + as/air_store_info)

,air_store_id,dow,min_visitors,mean_visitors,median_visitors,max_visitors,count_observations,air_genre_name,air_area_name,latitude,longitude
0,air_00a91d42b08b08d9,0,1.0,22.457143,19.0,47.0,35.0,6,44,35.694003,139.753595
1,air_0164b9927d20bcc3,0,2.0,7.500000,6.0,19.0,20.0,6,62,35.658068,139.751599
2,air_0241aa3964b7f861,0,2.0,8.920635,8.0,23.0,63.0,7,82,35.712607,139.779996

train/test:          (visits, holidays, stores)

,visitors,dow,year,month,day_of_week,holiday_flg,min_visitors,mean_visitors,median_visitors,max_visitors,count_observations,air_genre_name,air_area_name,latitude,longitude,reserve_datetime_diff_x,reserve_visitors_x,reserve_datetime_diff_y,reserve_visitors_y
count,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000,252108.000000
mean,20.973761,3.019678,2016.307697,6.208200,2.987228,0.050673,5.305171,20.816460,19.687483,49.308634,50.030304,5.237977,49.794913,35.368196,136.460923,1.496033,0.642074,-0.379587,-0.580588
std,16.757007,1.923985,0.461542,3.680263,2.033470,0.219329,6.364927,12.659500,12.784121,37.029759,14.631451,3.155539,30.804083,3.570526,11.707118,155.733715,7.401552,4.747227,2.504373
min,1.000000,0.000000,2016.000000,1.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,9.000000,1.000000,2016.000000,3.000000,1.000000,0.000000,1.000000,11.016667,10.000000,28.000000,40.000000,2.000000,23.000000,34.688241,135.265455,-1.000000,-1.000000,-1.000000,-1.000000
50%,17.000000,3.000000,2016.000000,7.000000,3.000000,0.000000,3.000000,18.256410,17.000000,43.000000,43.000000,6.000000,55.000000,35.658068,139.669361,-1.000000,-1.000000,-1.000000,-1.000000
75%,29.000000,5.000000,2017.000000,10.000000,5.000000,0.000000,7.000000,28.058824,27.000000,62.000000,65.000000,7.000000,74.000000,35.694003,139.751599,-1.000000,-1.000000,-1.000000,-1.000000
max,877.000000,6.000000,2017.000000,12.000000,6.000000,1.000000,132.000000,147.428571,152.000000,877.000000,69.000000,13.000000,102.000000,44.020632,144.273398,67801.000000,1633.000000,626.000000,157.000000

,air_store_id,visit_date,visitors,dow,year,month,day_of_week,holiday_flg,min_visitors,mean_visitors,...,max_visitors,count_observations,air_genre_name,air_area_name,latitude,longitude,reserve_datetime_diff_x,reserve_visitors_x,reserve_datetime_diff_y,reserve_visitors_y
0,air_ba937bf13d40fb24,2016-01-13,25,2,2016,1,6,0,7.0,23.843750,...,57.0,64.0,4.0,62.0,35.658068,139.751599,-1.0,-1.0,-1.0,-1.0
1,air_ba937bf13d40fb24,2016-01-14,32,3,2016,1,4,0,2.0,20.292308,...,54.0,65.0,4.0,62.0,35.658068,139.751599,-1.0,-1.0,-1.0,-1.0
2,air_ba937bf13d40fb24,2016-01-15,29,4,2016,1,0,0,4.0,34.738462,...,61.0,65.0,4.0,62.0,35.658068,139.751599,-1.0,-1.0,-1.0,-1.0

### Summary of data  
**stores** contains 821 resto's, it does not contain dates which are in 'tra'/'tes' reservations. Store contain stats on visitors per day of week, plus genre, area data.  
**train/test** = visits (tra/tes) + holidays + stores (incl genre, area data) + air/pgh reservations

### Fit and prediction
The source above fits Linear Regression and an extra-trees regressor.  
The following predicts and evaluates score on the same samples the model was trained on. It may over fit.

In [5]:
def RMSLE(y, pred):
    return metrics.mean_squared_error(y, pred)**0.5

lr = linear_model.LinearRegression(n_jobs=-1)
etc = ensemble.ExtraTreesRegressor(n_estimators=200, max_depth=4, n_jobs=-1, random_state=3)
lr.fit(train[col], np.log1p(train['visitors'].values))
etc.fit(train[col], np.log1p(train['visitors'].values))
print('RMSE LinearRegressor: ', RMSLE(np.log1p(train['visitors'].values), lr.predict(train[col])))
print('RMSE ExtraTreesRegressor: ', RMSLE(np.log1p(train['visitors'].values), etc.predict(train[col])))
#('RMSE LinearRegressor: ', 0.5559363280886771) without holidays as in kernel
#('RMSE ExtraTreesRegressor: ', 0.53254265523633648)
test['visitors'] = (lr.predict(test[col]) * 0.5) + (etc.predict(test[col]) * 0.5)
test['visitors'] = np.expm1(test['visitors']).clip(lower=0.)
#test[['id','visitors']].to_csv('lr_submission.csv', index=False, float_format='%.2f')

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=4,
          max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
          min_samples_split=2, min_weight_fraction_leaf=0.0,
          n_estimators=200, n_jobs=-1, oob_score=False, random_state=3,
          verbose=0, warm_start=False)

('RMSE LinearRegressor: ', 0.55513839010642696)
('RMSE ExtraTreesRegressor: ', 0.53286668803419068)

BTW, end of the source kernel.  
TODO: Try more regressors

---------------


### Plot visits by restaurant type and area

In [6]:
air = pd.read_csv('../input/air_visit_data.csv', parse_dates=[1])
air.set_index(['visit_date'], inplace=True)
air.index.name=None
for store_ind in range(0,10): #len(unique_stores) is 821
    resto = air[air.air_store_id == unique_stores[store_ind]]
    resto.visitors.plot(figsize=(15,3),grid=True,xlim=['2016-01','2017-04'],
                        title='Visitors in air_visit_data with id: '+air.air_store_id[store_ind])
    plt.show();

IOError: File ./input/air_visit_data.csv does not exist

---------

### Read the data

NB: The number of stores with reservations = nujmber of reservations because there's one reservation per store.
    For this reason the mean is IMO a good normalized measure of visits, mean = # visits / # reserved stores

In [ ]:
import pandas as pd
import calendar
# 
air = pd.read_csv('./input/air_visit_data.csv', parse_dates=[1])
air.set_index(['visit_date'], inplace=True)
air.index.name=None
air.drop('air_store_id',axis=1,inplace=True)
df2=pd.DataFrame()
df2['visit_total'] = air.groupby(air.index,squeeze=True,sort=True)['visitors'].sum()
df2['visit_mean'] = air.groupby(air.index,squeeze=True,sort=True)['visitors'].mean()
df2['reserv_cnt'] = air.groupby(air.index,squeeze=True,sort=True)['visitors'].count()
air=df2;del df2

#Get the date info with dow and holidays
hol=pd.read_csv('./input/date_info.csv', parse_dates=True).rename(columns={'calendar_date':'visit_date'})
hol['visit_date'] = pd.to_datetime(hol['visit_date'])
hol.set_index(['visit_date'], inplace=True)
hol.index.name=None
hol.day_of_week = hol.day_of_week.apply(list(calendar.day_name).index)

#Get the test submission
test = pd.read_csv('./input/sample_submission.csv')
test['store_id'], test['visit_date'] = test['id'].str[:20], test['id'].str[21:]
test.set_index('visit_date',drop=True, inplace=True)
test.index.name=None

### Explorative analysis on cumulative visits
I create a series with cumulative visits, that is the sum of visits to all stores/restaurants. Notice the huge increase in July 2016 (see above). The drop comes because many restaurants did not have any data before that month. Probably the registration system started "monitoring" many new restaurants/stores in that period.  
There is also a drop in visits and reservation counts in the beginning of the years, probably due to stores being close around new year's eve.

In [ ]:
#Plot the cumulative visits
air['visit_total'].plot(legend=True);
air['reserv_cnt'].plot(legend=True,figsize=(15,4),secondary_y=True,
                      title='Visitors total and reservation count (with holidays)');
ylim = plt.gca().get_ylim()
plt.vlines(hol.query('holiday_flg==1').index,ylim[0],ylim[1],color='k',alpha = 0.3);

Instead of the sum of visits, a better measurement is **the mean** of the cumulative visits (sum of all visits divided by number of reservations or, which is the same, the number of "active" restaurants). The series does not show the gap in July 2016 anymore, though variance seems to become smaller for some months.

In [ ]:
air['visit_mean'].plot(figsize=(15,4),legend=True, title='Visitors mean (with holidays)')
air['reserv_cnt'].plot(legend=True,figsize=(15,4),secondary_y=True,title='Visitors total and reservation count (with holidays)');

ylim = plt.gca().get_ylim()
plt.vlines(hol.query('holiday_flg==1').index,ylim[0],ylim[1],color='k',alpha = 0.3);

Applying a seasonal decomposition using moving averages. The trend captures three peaks in the data: 

* Around mid-March 2016, 
* April 2016
* Just before the drop on new year's eve 2016, 
* Again mid-March 2017 
I see on wikipedia that these are the vernal equinox (around March 20), the golden week starting on April 29, Emperor's birthday :( on December 23rd and new year's day on January 1st, vernal equinox again.  
This sounds great, though some other holidays are hardly visible in the data. I can imagine that people has the tendency to stay home in the winter.

The season plot shows a strong weekly period where the lowest number of visit happen on Monday. Below I show that people mostly do reservations between Friday and Sunday.

In [ ]:
import statsmodels.api as sm  
from statsmodels.tsa.stattools import acf  
from statsmodels.tsa.stattools import pacf
from statsmodels.tsa.seasonal import seasonal_decompose
decomposition = seasonal_decompose(air.visit_mean, freq=12)  
fig = plt.figure()  
fig = decomposition.plot()  
fig.set_size_inches(15, 8)

In [ ]:
df2=air.join(hol)
df2[df2.holiday_flg==0].groupby(hol.day_of_week,squeeze=True,sort=True)['visit_mean'].sum()
#df2.day_of_week=df3.day_of_week.apply(lambda x: list(calendar.day_name)[x]) # equiv to air.sum(0)

### Pre-ARIMA analysis: make the series stationary
Stationary means that variance and autocorrelation structure not changing over time.  
Changes in mean happen when the series has a overall trend, e.g. it increases/decreasing. In that case use differentiation: create a new series y with the first difference y=x$_t$-x<sub>t-1</sub> (this is the "I" in ARIMA models), and take seasonal differences (which you can account for in ARIMA model).  
Changes is variance mean that oscillations change. To fix this a log of the series compresses oscillations.  
Changes in autocorrelation means that oscillations become broader (or narrower). If you have this I think you are screwed..

The Dickey-Fuller test helps us deciding whether a series is stationary. The test's null hypothesis is that the series is non-stationary. If the Test Statistic output of the Dickey-Fuller test is less than the Critical Value, we can reject the null hypothesis and say that the series is stationary.  
Below we notice that the original time series (using the mean of visits) is fairly stationary: Test Statistic=-3.796104 > Critical Value (1%) = -3.444615. Applying 1st or seasonal differentiation greatly improves the test results (Test Statistic = -6.608968 and 7.196314, respectively). A weekly periodic structure is clearly visible in the data, so I lean towards using seasonal differentiation. 
Takign the log of the data helps but does not seem to be a main factor in improving stationarity. This means that variance is fairly stable.

In [ ]:
from statsmodels.tsa.stattools import adfuller
def test_stationarity(timeseries):
    
    #Determing rolling statistics
    rolmean = pd.rolling_mean(timeseries, window=12);
    rolstd = pd.rolling_std(timeseries, window=12);

    #Plot rolling statistics:
    fig = plt.figure(figsize=(15, 5))
    orig = plt.plot(timeseries, color='blue',label='Original')
    mean = plt.plot(rolmean, color='red', label='Rolling Mean')
    std = plt.plot(rolstd, color='black', label = 'Rolling Std')
    plt.legend(loc='best')
    plt.title('Rolling Mean & Standard Deviation')
    plt.show()
    
    #Perform Dickey-Fuller test:
    print 'Results of Dickey-Fuller Test:'
    dftest = adfuller(timeseries, autolag='AIC')
    dfoutput = pd.Series(dftest[0:4], index=['Test Statistic','p-value','#Lags Used','Number of Observations Used'])
    for key,value in dftest[4].items():
        dfoutput['Critical Value (%s)'%key] = value
    print dfoutput

test_stationarity(air.visit_mean); #-3.796104
# Log is a minor improvement, meaning that the variance is stable
air.visit_mean_log= air.visit_mean.apply(lambda x: np.log(x))  
'''test_stationarity(air.visit_mean_log) #-3.830754'''
# Although I see no real global trend, 1st difference strongly improves stationarity
air['visit_mean_diff'] = air.visit_mean - air.visit_mean.shift(1)  
test_stationarity(air.visit_mean_diff.dropna(inplace=False)) #-6.608968e+00
# Seasonal difference: take a weekly season improves stationarity even more
air['visit_mean_seasonal'] = air.visit_mean - air.visit_mean.shift(7)
test_stationarity(air.visit_mean_seasonal.dropna(inplace=False)) #-7.196314e+00
# Seasonal and 1st difference is even better, but we were already well within the 1% confidence interval
air['visit_mean_seasonal_diff'] = air.visit_mean_diff - air.visit_mean_diff.shift(7)
test_stationarity(air.visit_mean_seasonal_diff.dropna(inplace=False)) #-9.427797e+00

mmm, let's stick to the seasonal series with no 1st difference. 

Let's run autocorrelation ACF and partial autocorrelation PACF for find the details fo the model. I will use the guidelines [here](http://people.duke.edu/~rnau/arimrule.htm).

The following ACF on the mean visits has a repeated pattern. That's our 7-day seasonal term. I should add to the model seasonal differenciation in the term **seasonal\_order=( , 1, ,7)**.  
If ACF was positive and decreasing over time, the series would be the typical candidate for applying 1st difference. But not here. This confirms the observation we made on the Dickey-Fuller test where the 1st difference was more stationary but not that much. I should add a **order=( , 0, ) term** to the model. Also try a constant term **trend='c'** in the model for the non-zero mean value.

In [ ]:
fig = plt.figure(figsize=(12,8))
ax1 = fig.add_subplot(211)
fig = sm.graphics.tsa.plot_acf(air.visit_mean, lags=40, alpha=.05, ax=ax1)
ax2 = fig.add_subplot(212)
fig = sm.graphics.tsa.plot_pacf(air.visit_mean, lags=40, alpha=.05, ax=ax2)
print "ACF and PACF of the visit mean:"

This is the ACF of the first difference, confriming the 7-day seasonal term.

In [ ]:
fig = plt.figure(figsize=(12,8))
ax1 = fig.add_subplot(211)
fig = sm.graphics.tsa.plot_acf(air.visit_mean_diff[1:], lags=40, alpha=.05, ax=ax1)

The ACF and PACF below are plotted the seasonal difference data.

The PACF of the seasonal differenced series is positive at lag=1 (the series appears slightly "underdifferenced"). I should probably add one AR term to the model **order=(2, , )**. Only one AR term because the term at lag=2 cuts off and enters the 95% confidence interval. 

As for the PACF, the ACF of the seasonal differenced series is overdifferentiated at lag = 1 and cuts off (which I looked on the internet and means "go to zero") at lag=2. I should probably add one MA term to the model **order=( , , 2)**.

displays a sharp cutoff and/or the lag-1 autocorrelation is negative--i.e., if the series appears slightly "overdifferenced"--then consider adding an MA term to the model.


The ACF of the differenced series is negative at lag 7, suggesting to add a seasonal MA term **seasonal\_order=(0, , 1, 7)** to the model. This situation is likely to occur if a seasonal difference has been used, which should be done if the data has a stable and logical seasonal pattern. If the peak was positive I would have added a season AR term.

In [ ]:
print "ACF and PACF of the 7-day differenced visit mean:"
fig = plt.figure(figsize=(12,8))
ax1 = fig.add_subplot(211)
fig = sm.graphics.tsa.plot_acf(air.visit_mean_seasonal[8:], lags=40, alpha=.05, ax=ax1)
ax2 = fig.add_subplot(212)
fig = sm.graphics.tsa.plot_pacf(air.visit_mean_seasonal[8:], lags=40, alpha=.05, ax=ax2)

More things to keep in mind:  
Rule 9: If there is a unit root in the AR part of the model--i.e., if the sum of the AR coefficients is almost exactly 1--you should reduce the number of AR terms by one and increase the order of differencing by one.  
Rule 10: If there is a unit root in the MA part of the model--i.e., if the sum of the MA coefficients is almost exactly 1--you should reduce the number of MA terms by one and reduce the order of differencing by one.  
Rule 11: If the long-term forecasts* appear erratic or unstable, there may be a unit root in the AR or MA coefficients.

### SARIMAX model 
[SARIMAX](http://www.statsmodels.org/dev/generated/statsmodels.tsa.statespace.sarimax.SARIMAX.html) = Seasonal Auto Regressive Integrated Moving Average with eXogenous variables

In [ ]:
#sklearn.metrics .mean_squared_log_error should exist but I cannot load it..
from sklearn.metrics import mean_squared_error
def mean_squared_log_error(y_pred, y_true, **dict):
    '''Assume y_true is NaN free and y_pred can have consecutive NaN in the beginning of the series'''
    indfirst=y_pred.first_valid_index()
    return mean_squared_error(np.log(y_true[indfirst:]+1), 
                              np.log(y_pred[indfirst:]+1) )**0.5

In [ ]:
mod = sm.tsa.statespace.SARIMAX(air.visit_mean, trend='c', order=(2,0,2), seasonal_order=(0,1,1,7))
results = mod.fit()
print results.summary()
air['forecast'] = results.predict(start=350, end=None, dynamic=True, exog=pd.DataFrame(hol.holiday_flg[:]) )
air[['visit_mean', 'forecast']].plot(figsize=(15, 5));
plt.vlines(air.index[-1],13,32,color='k');
ylim = plt.gca().get_ylim()
plt.vlines(hol.query('holiday_flg==1').index,ylim[0],ylim[1],color='k',alpha = 0.3);
plt.title('RMSLE: %.4f'% mean_squared_log_error(air['forecast'],air.visit_mean) );

Try adding 1st order differentiation

### SARIMAX with eXogenous dataset

Using holidays as exogenous data is already much better, it captures the peak on new year's eve

In [ ]:
modx = sm.tsa.statespace.SARIMAX(air.visit_mean, trend='c', exog=hol.holiday_flg[:478], order=(2,0,0), seasonal_order=(0,1,1,7))
resultsx = modx.fit()
print resultsx.summary()
air['forecastx'] = resultsx.predict(start=350, end=None, dynamic=True, exog=pd.DataFrame(hol.holiday_flg[:]) )
air[['visit_mean', 'forecastx']].plot(figsize=(15, 5));
plt.vlines(air.index[-1],13,32,color='k');
ylim = plt.gca().get_ylim()
plt.vlines(hol.query('holiday_flg==1').index,ylim[0],ylim[1],color='k',alpha = 0.3);
plt.title('RMSLE: %.4f'% mean_squared_log_error(air['forecastx'],air.visit_mean) );

In [ ]:
modx2 = sm.tsa.statespace.SARIMAX(air.visit_mean, trend='c', exog=hol[:478], order=(2,0,0), seasonal_order=(0,1,1,7))
resultsx2 = modx2.fit()
print resultsx2.summary()
air['forecastx2'] = resultsx2.predict(start=350, end=None, dynamic=True, exog=pd.DataFrame(hol[:]) )
air[['visit_mean', 'forecastx2','forecastx']].plot(figsize=(15, 5));
plt.vlines(air.index[-1],13,32,color='k');
ylim = plt.gca().get_ylim()
plt.vlines(hol.query('holiday_flg==1').index,ylim[0],ylim[1],color='k',alpha = 0.3);
plt.title('RMSLE: %.4f'% mean_squared_log_error(air['forecastx2'],air.visit_mean) );

### Make predictions

In [ ]:
len(air)
len(train)
train.columns
train_aggr=train.groupby('visit_date',as_index=True,squeeze=True)[
    ['visitors','count_observations']].sum()
train_aggr.index.name=None
train_aggr[train_aggr.index==train.visit_date[0]]
train_aggr.head(10)

In [ ]:
modx2 = sm.tsa.statespace.SARIMAX(air.visit_mean, trend='c', exog=hol[:478], order=(2,0,0), seasonal_order=(0,1,1,7))
resultsx2 = modx2.fit()
print resultsx2.summary()
air['forecastx2'] = resultsx2.predict(start=350, end=None, dynamic=True, exog=pd.DataFrame(hol[:]) )
air[['visit_mean', 'forecastx2','forecastx']].plot(figsize=(15, 5));
plt.vlines(air.index[-1],13,32,color='k');
ylim = plt.gca().get_ylim()
plt.vlines(hol.query('holiday_flg==1').index,ylim[0],ylim[1],color='k',alpha = 0.3);
plt.title('RMSLE: %.4f'% mean_squared_log_error(air['forecastx2'],air.visit_mean) );

Try to predict test future

In [ ]:

test.iloc[[0,-1]]
hol.iloc[[478,-1]]

In [ ]:
#air.index.get_loc('2017-04-22')+1

pred=resultsx2.predict(start=478, end=516, exog=hol[478:])

air['forecastx2'] = resultsx2.predict(start=350, end=477, dynamic=True, exog=pd.DataFrame(hol[:]) )
air['visit_mean'].plot(figsize=(15, 5));
air['forecastx2'][350:].plot();
plt.vlines(air.index[-1],13,32,color='k');
ylim = plt.gca().get_ylim()
plt.vlines(hol.query('holiday_flg==1').index,ylim[0],ylim[1],color='k',alpha = 0.3);
plt.title('RMSLE: %.4f'% mean_squared_log_error(air['forecastx2'],air.visit_mean) );
pred.plot()